{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/jonbrisé.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12  ">
                <div class="card  mx-auto " style="width: 35rem;">
                    <img class="card-img-top img-responsive" src="assets/jonpls.jpg" alt="Card image cap">
                </div>
             </div>
        </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center mt-5">
                <a href="/robot" class="btn text-white">Tu as peut etre une préférence pour les Robot ?</a>
                </div>
                </div>
    </div>

{% endblock %}

