{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/success.css">
{% endblock %}

{% block body %}

    <div class="container-fluid d-flex justify-content-center">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
         <div class="card1">Match</div>
            <div class="card-body text-dark">
                <p class="card-text">Nous avons remarqué ta préférence pour les droïdes! Amuses toi bien.</p>
                <h5 class="card-title">À bientôt</h5>
                <div class="btn ml-4">Accéder à mon profil</div>
            </div>
         </div>
        </div>
    </div>

{% endblock %}

