{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/vader.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12  ">
                <p class="kiki ">Votre interlocuteur a quitté la conversation, ça n'a pas matché entre vous.</p>
                <div class="card  mx-auto " style="width: 35rem;">
                    <img class="card-img-top img-responsive" src="https://media.giphy.com/media/xT9DPpf0zTqRASyzTi/200w_d.gif" alt="Card image cap">
                </div>
             </div>
        </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center mt-5">
                <a href="/robot" class="btn text-white">Tu as peut être une préférence pour les Droïdes ?</a>
                </div>
                </div>
    </div>

{% endblock %}

